@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.placeholders {
  margin-top: 30px;
}

.code {
  margin-top: 100px;
  margin-bottom: 80px;
  width: 800px;
}
